<div ng-if="showWaiting">
    <div class="row">
        <div class="col-sm-4 col-md-3 hidden-xs hidden-sm waiting-filter">
            <div class="filter-wrapper">
                <div class="timeline-wrapper hotel-room-main flight-waiting">
                    <div class="timeline-item">
                        <div class="waiting-bg-gray" style="height: 40px;"></div>
                    </div>
                </div>
                <div class="timeline-wrapper hotel-room-main flight-waiting">
                    <div class="timeline-item">
                        <div class="waiting-bg-gray" style="height: 40px;"></div>
                    </div>
                </div>
                <div class="timeline-wrapper hotel-room-main flight-waiting">
                    <div class="timeline-item">
                        <div class="waiting-bg-gray" style="height: 40px;"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-9">

            <!---start by imran 10-feb-2023-->
            <div class="row hidden-lg hidden-md">
                <div class="col-lg-12 col-md-12 col-xs-12">
                    <div style="position:unset; width:100%; height:auto" class="progress">
                        <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="background-color: #243c7b; width: 100%; line-height: unset; padding: 5px 0px; font-size: 15px; font-weight:bold">
                            Searching For The Best Offers..
                        </div>
                    </div>
                </div>
            </div>
            <!---end by imran 10-feb-2023-->

            <div class="sort-by-section clearfix" ng-show="noResults">
                <div ng-show="showWaiting" class="sort-by-title block-sm col-md-9" style="margin:16px 18px 16px 0px ; ">
                    <div class="animated-hotelSorting"></div>
                </div>

                <div ng-show="showWaiting">
                    <div class="animated-totalHotel"></div>
                </div>

            </div>
            <div class="timeline-wrapper hotel-room-main resultBox box border_sides new-detail-box">
                <div class="timeline-item">
                    <div class="animated-background resultBox">
                        <div class="background-masker header-top"></div>
                        <div class="background-masker header-left"></div>
                        <div class="background-masker header-right"></div>
                        <div class="background-masker header-bottom"></div>
                        <div class="background-masker subheader-left"></div>
                        <div class="background-masker header-right price-band"></div>
                        <div class="background-masker header-right price-bandd"></div>
                        <div class="background-masker header-right price-band-1"></div>
                        <div class="background-masker content-top"></div>
                        <div class="background-masker content-first-end"></div>
                        <div class="background-masker header-left" style="top:60px"></div>
                        <div class="background-masker content-second-line"></div>
                        <div class="background-masker header-right price-band-2" style="top:60px"></div>
                        <div class="background-masker content-second-line" style="height: 80px;"></div>
                    </div>
                </div>

            </div>

            <div class="timeline-wrapper hotel-room-main resultBox box border_sides new-detail-box">
                <div class="timeline-item">
                    <div class="animated-background resultBox">
                        <div class="background-masker header-top"></div>
                        <div class="background-masker header-left"></div>
                        <div class="background-masker header-right"></div>
                        <div class="background-masker header-bottom"></div>
                        <div class="background-masker subheader-left"></div>
                        <div class="background-masker header-right price-band"></div>
                        <div class="background-masker header-right price-bandd"></div>
                        <div class="background-masker header-right price-band-1"></div>
                        <div class="background-masker content-top"></div>
                        <div class="background-masker content-first-end"></div>
                        <div class="background-masker header-left" style="top:60px"></div>
                        <div class="background-masker content-second-line"></div>
                        <div class="background-masker header-right price-band-2" style="top:60px"></div>
                        <div class="background-masker content-second-line" style="height: 80px;"></div>
                    </div>
                </div>
            </div>

            <div class="timeline-wrapper hotel-room-main resultBox box border_sides new-detail-box">
                <div class="timeline-item">
                    <div class="animated-background resultBox">
                        <div class="background-masker header-top"></div>
                        <div class="background-masker header-left"></div>
                        <div class="background-masker header-right"></div>
                        <div class="background-masker header-bottom"></div>
                        <div class="background-masker subheader-left"></div>
                        <div class="background-masker header-right price-band"></div>
                        <div class="background-masker header-right price-bandd"></div>
                        <div class="background-masker header-right price-band-1"></div>
                        <div class="background-masker content-top"></div>
                        <div class="background-masker content-first-end"></div>
                        <div class="background-masker header-left" style="top:60px"></div>
                        <div class="background-masker content-second-line"></div>
                        <div class="background-masker header-right price-band-2" style="top:60px"></div>
                        <div class="background-masker content-second-line" style="height: 80px;"></div>
                    </div>
                </div>
            </div>

            <div class="timeline-wrapper hotel-room-main resultBox box border_sides new-detail-box">
                <div class="timeline-item">
                    <div class="animated-background resultBox">
                        <div class="background-masker header-top"></div>
                        <div class="background-masker header-left"></div>
                        <div class="background-masker header-right"></div>
                        <div class="background-masker header-bottom"></div>
                        <div class="background-masker subheader-left"></div>
                        <div class="background-masker header-right price-band"></div>
                        <div class="background-masker header-right price-bandd"></div>
                        <div class="background-masker header-right price-band-1"></div>
                        <div class="background-masker content-top"></div>
                        <div class="background-masker content-first-end"></div>
                        <div class="background-masker header-left" style="top:60px"></div>
                        <div class="background-masker content-second-line"></div>
                        <div class="background-masker header-right price-band-2" style="top:60px"></div>
                        <div class="background-masker content-second-line" style="height: 80px;"></div>
                    </div>
                </div>
            </div>

            <div class="timeline-wrapper hotel-room-main resultBox box border_sides new-detail-box">
                <div class="timeline-item">
                    <div class="animated-background resultBox">
                        <div class="background-masker header-top"></div>
                        <div class="background-masker header-left"></div>
                        <div class="background-masker header-right"></div>
                        <div class="background-masker header-bottom"></div>
                        <div class="background-masker subheader-left"></div>
                        <div class="background-masker header-right price-band"></div>
                        <div class="background-masker header-right price-bandd"></div>
                        <div class="background-masker header-right price-band-1"></div>
                        <div class="background-masker content-top"></div>
                        <div class="background-masker content-first-end"></div>
                        <div class="background-masker header-left" style="top:60px"></div>
                        <div class="background-masker content-second-line"></div>
                        <div class="background-masker header-right price-band-2" style="top:60px"></div>
                        <div class="background-masker content-second-line" style="height: 80px;"></div>
                    </div>
                </div>
            </div>
            <div class="timeline-wrapper hotel-room-main resultBox box border_sides new-detail-box">
                <div class="timeline-item">
                    <div class="animated-background resultBox">
                        <div class="background-masker header-top"></div>
                        <div class="background-masker header-left"></div>
                        <div class="background-masker header-right"></div>
                        <div class="background-masker header-bottom"></div>
                        <div class="background-masker subheader-left"></div>
                        <div class="background-masker header-right price-band"></div>
                        <div class="background-masker header-right price-bandd"></div>
                        <div class="background-masker header-right price-band-1"></div>
                        <div class="background-masker content-top"></div>
                        <div class="background-masker content-first-end"></div>
                        <div class="background-masker header-left" style="top:60px"></div>
                        <div class="background-masker content-second-line"></div>
                        <div class="background-masker header-right price-band-2" style="top:60px"></div>
                        <div class="background-masker content-second-line" style="height: 80px;"></div>
                    </div>
                </div>
            </div>

            <div class="timeline-wrapper hotel-room-main resultBox box border_sides new-detail-box">
                <div class="timeline-item">
                    <div class="animated-background resultBox">
                        <div class="background-masker header-top"></div>
                        <div class="background-masker header-left"></div>
                        <div class="background-masker header-right"></div>
                        <div class="background-masker header-bottom"></div>
                        <div class="background-masker subheader-left"></div>
                        <div class="background-masker header-right price-band"></div>
                        <div class="background-masker header-right price-bandd"></div>
                        <div class="background-masker header-right price-band-1"></div>
                        <div class="background-masker content-top"></div>
                        <div class="background-masker content-first-end"></div>
                        <div class="background-masker header-left" style="top:60px"></div>
                        <div class="background-masker content-second-line"></div>
                        <div class="background-masker header-right price-band-2" style="top:60px"></div>
                        <div class="background-masker content-second-line" style="height: 80px;"></div>
                    </div>
                </div>
            </div>

            <div class="timeline-wrapper hotel-room-main resultBox box border_sides new-detail-box">
                <div class="timeline-item">
                    <div class="animated-background resultBox">
                        <div class="background-masker header-top"></div>
                        <div class="background-masker header-left"></div>
                        <div class="background-masker header-right"></div>
                        <div class="background-masker header-bottom"></div>
                        <div class="background-masker subheader-left"></div>
                        <div class="background-masker header-right price-band"></div>
                        <div class="background-masker header-right price-bandd"></div>
                        <div class="background-masker header-right price-band-1"></div>
                        <div class="background-masker content-top"></div>
                        <div class="background-masker content-first-end"></div>
                        <div class="background-masker header-left" style="top:60px"></div>
                        <div class="background-masker content-second-line"></div>
                        <div class="background-masker header-right price-band-2" style="top:60px"></div>
                        <div class="background-masker content-second-line" style="height: 80px;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>