@media(max-width:1199px) {
    .searchbox-text {
        font-size: 14px;
    }
}
@media(max-width:991px) {
    [class^="col-"], [class*=" col-"], #main-1.roomp.agepadding {
        padding: 0px 7px !important;
    }
    .search-sec .tab-pane#insurance-tab > .row {
    display: flex;
    align-items: baseline;
    flex-wrap:wrap;
}
    .container {width: 100%;}
    ul.menu > li > a, .chaser ul.menu > li > a {
        font-size: 15px;
    }

    .takeoff-icon {
        left: 10px;
    }

    .landing-icon {
        left: 10px;
    }

    .row {
        margin-left: -7px;
        margin-right: -7px;
    }

    .carousel-caption {
        right: 7%;
        left: 10%;
        padding-bottom: 15px;
        bottom: 12% !important;
        text-align: right;
    }

    h1 {
        font-size: 32px;
    }

    h3 {
        font-size: 18px;
    }

    .text-center.banner_text h3 {
        line-height: 30px;
        padding-top: 10px;
    }

    .exlore_now_button {
        position: absolute;
        top: 70%;
        right: 6%;
    }
    .slick-slider {
        max-width: 90%;
        margin: auto;
    }
}

@media(min-width: 768px) {
    .carousel-caption {
        right: 7%;
        left: 10%;
        padding-bottom: 30px;
        bottom: 40%;
        text-align: right;
    }

    .height_168 {
        height: 168px;
    }

    .padding-left-0 {
        padding-left: 0px;
    }

    .padding-right-0 {
        padding-right: 0px;
    }

    .icons_services_slider {
        position: absolute;
        top: 20px;
        left: 20px;
        color: #fff;
    }

    .icons_services {
        position: absolute;
        top: 20px;
        left: 30px;
        color: #fff;
    }
    .rowflex {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }
    .navbar-header {
        width: 100%;
    }
}
@media(max-width:767px){
    ul.dropdown-menu.main-navigation {
        width: 97%;
        background: #fff;
        position: relative;
        margin: 0 auto;
        float: none;
    }
    ul.nav.navbar-nav.navbar-right li {
        display: block;
        border-top: 1px solid #15327a/*added by imran 14-07-2023*/;
    }
    .button-checkbox .btn-group a {
        padding-left: 16px;
        font-size: 14px;
    }
    .nonstop-service {
     margin-left: 0px; 
}
 .search-box-wrapper {
    margin-top: 0px;
}
    .search-box-wrapper .search-tab-content {
        padding: 10px 7px;
        box-shadow: 0px 8px 9px 0px rgba(0,0,0,0.20); /*added by imran 20 Sep 2023*/
    }

    /*Start, Code Added by imran 20 Sep 2023*/
    .col-aps-btn {
        padding: 0px 12px;
        display: block;
        width: 100%;
        text-align: right;
        font-weight: bold;
        font-size: 24px;
    }
    /*End, Code Added by imran 20 Sep 2023*/

    #main-menu {
        display: none;
    }

    .exlore_now_button {
        position: absolute;
        top: 65%;
        right: 6%;
    }

    h3 {
        font-size: 16px;
    }

    .carousel-caption {
        right: 6%;
        left: 10%;
        padding-bottom: 8px;
        bottom: 30% !important;
        text-align: right;
    }

    .icons_services_slider {
        position: absolute;
        top: 5px;
        left: 5px;
        color: #fff;
    }

    .icons_services {
        position: absolute;
        top: 20px;
        left: 30px;
        color: #fff;
    }

    ul.search-tabs li a {
        padding: 0 7px;
        height: 35px;
        line-height: 35px;
    }

    .search-box .search-tabs {
        margin-left: 0px;
    }

    .navbar-collapse {
       /* background: rgb(21, 50, 122);* comment by imran 14-07-2023*/
        background: rgb(255, 255, 255); /*added by imran*/
        margin-bottom: 10px;
    }

    .dropdown-menu > li > a {
        color: #000000;
        padding: 5px 10px!important;
    }

    .nav > li > a {
        padding: 10px 10px;
        /* color: #fff;*comment by imran 14-07-2023*/
        color: #15327a; /*added by imran 14-07-2023*/
        text-align: center; /*added by imran 14-07-2023*/
        font-weight: 400;
        font-size: 14px;
    }
    ul.nav.navbar-nav.navbar-right.top-menu li{
        border:0px !important;
    }
    /*start by imran 14-07-2023*/
    .Discover-text {
        color: #15327a !important;
        text-align:center;
    }
    #ac-wrapper {
        position: fixed;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 99999;
        display: none;
    }
    #PE-chicklet {
        display: none !important;
    }
    /*end imran 14-07-2023*/
    .nav > li + li > a {
        border-top: 0px solid #324c8c;
    }

    .searchbox-text {
        padding: 0px;
        margin-bottom: 0px;
        line-height: normal;
        font-size: 13px;
    }
    .form-group {
        margin-bottom: 10px;
    }
    h1 {
        font-size: 24px;
    }
    .slick-slider {
        padding: 0px 10px;
    }
    .slick-prev:before, .slick-next:before {
        font-size: 24px;
    }
    .m-t-25, .Offer.m-t-20 {
        margin-top: 0px;
    }
    .banner_background.m-t-20.m-b-30, .exotic_destination.m-t-30.m-b-30,.city_breaks.m-b-30 {
        margin: 0px;
    }
    .text-center.text-uppercase.p-t-20 {padding-top: 0px;}
    button.navbar-toggle, button.navbar-toggle:hover {
        background: none!important;
        margin: 0px;
        padding: 15px 10px;
    }
    ul.nav.navbar-nav.navbar-right {margin-top: 0px; margin-bottom: 0px;}
    .nonstop-service {margin-left: 0px;}
    /*.button-checkbox {margin-bottom: 15px;}*/
    .navbar-nav .open .dropdown-menu {
        position: relative;
        background: #ffffff;
        border: 1px solid #cccccc;
        width: 97%;
        margin: auto;
    }
    ul.dropdown-menu.main-navigation:before {
        border-bottom: 12px solid #CCC;
        margin-left: 0px;
        right: 9px;
        left: auto;
    }
    ul.dropdown-menu.main-navigation:after {
        margin-left: 1px;
        right: 10px;
        left: auto;
    }
    /*.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
        background-color: #f0d839;
        border-color: transparent;
        color: #000000;
    }*/
    .dropdown svg.fa-chevron-down {float: right;}
    #multipleAirlines {min-width: 100%;}
    .paxpanel {width: 100%; max-width: 100%;}
    .sub_flight_text {margin-top: 10px;}
    .contactDropArrow:after { top:34px;}
   .radio-inline+.radio-inline {
        margin-left: 0px;
    }
   hotelautocomplete .autocomplete-options-dropdown {
        min-width: 100%
    }
   .autocomplete-option {
       white-space: normal!important;
       padding: 4px 10px!important;
   }
   .ui-datepicker {
       max-width: 230px;
   }
   .navbar-brand {
        padding: 8px 10px;
        max-width: 115px;
    }
    .navbar-brand>img {
        width: 100%;
    }
    ul.nav.navbar-nav.navbar-right.top-menu {
        margin: 0px;
        float: right;
    }
    ul.nav.navbar-nav.navbar-right.top-menu > li {
        display: inline-block;
        float: left;
        border:none !important; /*added by imran 14-07-2023*/
    }
    .nav.top-menu > li > a {
        color: #000000;
        padding: 14px 5px;
    }
    .navbar-nav.top-menu .open .dropdown-menu, .navbar-nav.top-menu ul.dropdown-menu.main-navigation {
        position: absolute;
        z-index: 99999;
        left: auto;
        right: 0px;
    }
    .navbar-nav.top-menu .dropdown svg.fa-chevron-down {
        float: none;
    }
    .navbar-header {
        margin-bottom: 10px;
    }
    .navbar-nav.top-menu .drop-down-menu-login {
        padding: 0px;
        font-size: 12px;
        height: 35px;
        width: 35px;
        margin-top: -19px;
        line-height: 35px;
    }
    #popup{ width:95%;top:50%;}

}

@media(min-width:1025px) {
    .carousel-caption {
        bottom: 42% !important;
    }
}
@media(max-width:320px) {
    ul.search-tabs li a {
        padding: 0px 5px;
    }
    button.navbar-toggle, button.navbar-toggle:hover {
        padding: 10px 10px 10px 3px;
    }
    .nav.top-menu > li > a {
        color: #000000;
        padding: 10px 7px;
        font-size: 12px;
    }
    .navbar-brand {
        max-width: 98px;
    }
    .navbar-nav.top-menu .drop-down-menu-login {
        font-size: 11px;
        height: 30px;
        width: 30px;
        line-height: 32px;
    }
}
 @media only screen and (min-device-width: 992px) and (max-device-width: 1024px) {
    ul.search-tabs li a {
    padding: 0px 7px;
}
  .search-box .search-tabs {
    margin-left: 20px;
}
 .checkbox-inline, .radio-inline {
    padding-left: 10px;
 }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 991px) {
    ul.search-tabs li a {
        padding: 0 25px;
    } 
     .transfer-pax-count.paxpanel.insurance{ left:30%; position:absolute;}
}
