
body{background:rgba(255, 255, 255,1);font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;}

a, a:focus{ outline: none;}
input::-moz-focus-inner { 
  border: 0; 
}
/*font-family: 'Gloria Hallelujah', cursive;
font-family: 'Indie Flower', cursive;*/

.navbar-default { background-color: transparent; border-color: transparent;}
.navbar-collapse { padding-right: 0px; padding-left: 0px;}
.navbar-default .navbar-nav>li>a { color: #fff; font-size:16px;}
.nav>li>a { position: relative; display: block; padding: 15px 25px;}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
 color: #fff;   
 background: red; /* For browsers that do not support gradients */
 background: -webkit-linear-gradient(#a40c00, #d81000); /* For Safari 5.1 to 6.0 */
 background: -o-linear-gradient(#a40c00, #d81000); /* For Opera 11.1 to 12.0 */
 background: -moz-linear-gradient(#a40c00, #d81000); /* For Firefox 3.6 to 15 */
 background: linear-gradient(#a40c00, #d81000); /* Standard syntax */
 border-radius:5px;
}
.navbar-default .navbar-nav.sub-menu>li>a{ color:#000; font-size:14px; color:#e11a22;}
.nav.sub-menu>li>a { padding: 15px 15px;}
.nav.sub-menu>li:last-child>a { padding-right: 0px;}

.fa-phone-square, .fa-envelope, .fa-star{color:#e11a22;}
.fa-star.in-active{color:#cccccc;}


.clear{clear:both;}
.clear-left{clear:left;}
.full-width{width:100%;}

.navbar { margin-bottom: 10px;}

.big-slider{background:url(../images/top-slider.jpg) no-repeat; width:100%; height:415px; background-position:center;}
.small-slider{background:url(../images/top-slider.jpg) no-repeat; width:100%; min-height:200px;}

ul.search-form{list-style:none; position:relative; padding:0 15px;}
ul.search-form li{float:left;}

.big-slider .search-form{margin:320px 0 0 0;}
.small-slider .search-form{margin:100px 0 0 0;}

.modal-header h1 { font-size: 23px;}
.modal .terms { height:400px; overflow-y:scroll; padding-right:10px;}
.modal button span { font-size: 21px;}
.modal-header { padding-bottom: 5px;}
.modal label{ font-weight:normal;}
.modal .modal-footer p{ text-align:left;}

.search-form input{padding:15px 15px 15px 35px; background:#fff; border:0; border-right:1px solid #000; width:100%;}
.search-form select{border:0; }
ul.search-form li.where{width:40%;}
ul.search-form li.from{width:14%;}
ul.search-form li.to{width:14%;}
ul.search-form li.pax{width:17%;}
ul.search-form li.pax select{ padding:0px 15px; width:100%; border-right:1px solid #000; height:50px;}
ul.search-form li.submit{width:15%;}
ul.search-form li.submit input, ul.search-form li.submit button{ height:50px; border:0; background:#e11a22; color:#fff; padding:8px 10px; width:100%; font-size:25px; border-right:0;}
.search-form .fa-map-marker{position:absolute; padding:10px; color:#e11a22;}
.search-form .fa-calendar{position:absolute; padding:17px 10px; color:#e11a22;}


.highlights{background:#fff; padding:15px 0; color:#e11a22;}
.highlights span{vertical-align:top; line-height:40px; font-size:16px; padding: 0 0 0 10px;}

.highlights2{background:#fff; padding:15px 0; color:#fff;}
.highlights2 .container{ padding: 0 30px;}
.highlights2>div>div {background: red; padding:5px 15px; margin: 3px 0px; border-right: 2px solid #fff;}
.highlights2 span{vertical-align:top; line-height:40px; font-size:16px; padding: 0 0 0 10px;}

.promotion{list-style:none; padding:0 15px; float: left;}
.promotion-img{width:66.66666667%; float:left;}
.promotion-back{background: #f0f0f0; width:33.33333333%; float:left; padding:30px;}
.promotion-back h1{line-height:50px; font-size:40px;}
.promotion-back button{background:#ee2d24; font-size:18px; color:#fff; border:0px; padding:10px 20px; float:right; margin:5px 0 0 0;}


.exp-destinations{ float:left; width:100%;}
.exp-destinations h1{text-align:center; margin-bottom: 20px;}

.explore{list-style:none; padding:0 15px; float:left; padding-right: 0px; width:100%;}
.explore1{width:66%; float:left; margin-right:5px; background:url(../images/explore-destination-1.jpg) no-repeat;}
.explore2{ width:32.5%; float:left; background:url(../images/explore-destination-2.jpg) no-repeat;}
.explore3{ width:33.5%; float:left; clear:left; margin-top:5px; margin-right:5px; background:url(../images/explore-destination-3.jpg) no-repeat;}
.explore4{ width:32.5%; float:left; margin-top:5px;  padding-right:5px; background:url(../images/explore-destination-4.jpg) no-repeat;}
.explore5{ width:32.5%; float:left; margin-top:5px; background:url(../images/explore-destination-5.jpg) no-repeat;}
.explore li, .explore img{height:271px; position: relative;}
.explore button{background:#ee2d24; font-size:16px; color:#fff; border:0px; padding:5px 10px; margin: 0 auto; position: absolute; bottom: 20px; left: 43%;}
.explore p{font-family: 'Indie Flower', cursive; color:#fff; font-size:36px; font-weight:bold; padding:20px 0 0 20px; text-shadow: 2px 3px #242424;}


.featured-hotels{}
.featured-hotels h2{padding-left:15px;}
.featured-hotels h4{color:#002245; font-size:18px;}
.featured-hotels p{color:#002245; font-size:14px; text-align:justify;}
 

.btn { width: 100%;}
.btn-default { color: #fff; background-color: #e11a22; border-color: #e11a22;}
.btn-default:hover { color: #fff; background-color: #e11a22; border-color: #e11a22;}

.margin-top-15{margin-top:15px;}
.margin-top-20{margin-top:20px;}
.margin-top-30{margin-top:30px;}

.margin-bottom-15{margin-bottom:15px;}
.margin-bottom-20{margin-bottom:20px;}
.margin-bottom-30{margin-bottom:30px;}

.margin-right-20{margin-right:20px;}


.padding-left-0{padding-left:0px;}
.padding-left-30{padding-left:30px;}

.padding-right-0{padding-right:0px;}

.padding-top-10{margin-top:10px;}
.padding-top-20{margin-bottom:30px;}

.padding-bottom-10{margin-bottom:10px;}
.padding-bottom-30{margin-bottom:30px;}

.date-icon-inside i{    position: absolute;    left: 25px;    top: 10px;}
.clickable-row{cursor:pointer;}
.clickable-row:hover{  background:#f5f5f5;}

/* group vacations */
.group-vacations{ float:left; width:100%;}
.group-vacations h1{margin-bottom: 0px; padding:0 15px;}
.group-vacations p{font-size:18px; font-weight:bold; margin-bottom: 20px; padding:0 15px;}
.group-vacations .table_row p{text-align:center; font-size:14px; font-weight:bold;}

/* top cities */
.top-city{list-style:none; padding:0 15px; float:left; padding-right: 0px; width:100%;}
.top-city1{width:100%; float:left; margin-right:5px; background:url(../images/top-cities-1.jpg) no-repeat; height:374px;}
.top-city2{ width:100%; float:left;  background:url(../images/top-cities-2.jpg) no-repeat; height:374px;}
.top-city3{ width:100%; float:left; clear:left; margin-top:5px; margin-right:5px;  background:url(../images/top-cities-3.jpg) no-repeat; height:374px;}
.top-city4{ width:100%; float:left; margin-top:5px;  padding-right:5px;  background:url(../images/top-cities-4.jpg) no-repeat; height:374px;}
.top-city button{background:#ee2d24; font-size:18px; color:#fff; border:0px; padding:10px 20px; float:right; margin:5px 0 0 0;  position: absolute; bottom: 20px; left: 71%;}
.top-city p{font-family: 'Indie Flower', cursive; color:#fff; font-size:36px; font-weight:bold; padding:20px 0 0 20px; text-shadow: 2px 3px #242424;}
.font-size-24{ font-size:24px;}

/* deals of the day */
.deals{list-style:none; padding:0 15px; float:left; padding-right: 0px; width:100%;}
.deals h1{margin-bottom: 0px; margin-top:0;}
.deals p {font-size: 24px; margin-bottom: 20px; text-align: left;}
.deals .hurry { font-size: 18px; color:#e11a22; font-weight:bold; margin-top: 30px;}
.deals ul{list-style:none; padding-left:0;}
.deals ul li{ float:left;}
.deals1{ width:100%; float:left; background:url(../images/deal-1.jpg) no-repeat; height:178px;}
.deals2{ width:100%; float:left;  height:178px; border:1px solid #dfdfdf;}
.deals3{ width:100%; float:left; background:url(../images/deal-2.jpg) no-repeat; height:178px;}
.deals4{ width:100%; float:left; height:178px; border:1px solid #dfdfdf;}
.deals5{ width:100%; float:left; background:url(../images/deal-3.jpg) no-repeat; height:178px;}
.deals6{ width:100%; float:left; background:url(../images/deal-4.jpg) no-repeat; height:178px;}
.deals1, .deals2, .deals3, .deals4, .deals5, .deals6{padding:15px;}
.deals .listing p{font-family: 'Indie Flower', cursive; color:#fff; font-size:36px; font-weight:bold; text-shadow: 2px 3px #242424;}

.deals .hotel-name{ font-size:18px; color:#515151; font-weight:bold;}
.deals .hotel-address{font-size:12px; color:#515151;}
.deals .stars{font-size:16px; color:#515151; padding-bottom:5px;}
.deals .discount{font-size:18px; color:#515151; padding-bottom:10px;}
.deals button{background:#ee2d24; font-size:16px; color:#fff; border:0px; padding:5px 10px; float:right; margin:5px 0 0 0;  position: absolute; bottom: 20px; left: 55%;}


.filter-left{}
.filter-left .fa-map-marker { color: #c3c2c1; padding: 30px 20px; position: absolute; left:0px;}
.filter-left .map_icon{padding:0 20px;}

.my-container2 .fa-map-marker { color: #c3c2c1; padding: 30px 20px; position: absolute; left:0px;}
.my-container2 .map_icon{padding:0 20px;}


/* copied from itrip*/
.input_wrapar_search input.search_icon { background: url(../images/search_icon.png) no-repeat 2% center #fff; padding-left: 36px;}
.input_wrapar_search input{	border: 2px solid #bdc3c7; }
.big_calander_con { float: left; width: 100%; min-height: 90px;}
.search_area_big span { display: block; font-size: 12px;}
.datepicker-wrap { position: relative; cursor: pointer; border: 1px solid #d8d8d8; border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; -o-border-radius: 4px; border: 1px solid #d7d7d7; width: 109px; height: 51px; background: #fff;}
.datepicker-wrap input { background: transparent; text-indent: -999px; border: 0px solid transparent; width: 109px; height: 51px; position: absolute; z-index: 999; cursor: pointer;}
.calander_position { position: absolute; width: 90px; float: left; z-index: 1; top: 2px;}
.calander_position .div_1 { float: left; width: 33px; padding-left: 7px; margin: -3px 0 0 0; padding-top: 0px;}
.calander_position span { clear: both; display: block; font-size: 37px; font-weight: normal; margin-top: 0;}
.calander_position .div_2 { float: left; width: 36px; padding-left: 31px;}
.calander_position i { display: block; clear: both; font-size: 14px; font-weight: normal; margin-top: 5px; line-height: 20px;}
.calander_position small { clear: both; display: block; font-size: 14px; font-weight: normal; margin-top: -4px;}
.chk-out { margin: 0 0 0 20px;}
.search_area_big span { display: block; font-size: 12px;}
.total-nights { margin: 0 20px;}
.box-width-76 { width: 76px !important;}
input.big_input_text { font-size: 37px; height: 51px; text-align: center; line-height: 48px; padding: 0 5px; width: 76px; }
.rooms { margin-left: -33px;}
.box-width-76 { width: 76px !important;}
.input_wrapar_search select { border: 1px solid #dddddd; color: #000; font-size: 14px; margin: 0 0 10px; padding: 5px; width: 100%; line-height: 30px; border-radius: 0; height: 35px; -moz-box-sizing: border-box; box-sizing: border-box; -webkit-box-sizing: border-box; -o-box-sizing: border-box; border-radius: 4px 4px 4px 4px;}
.select.select-block { display: block; float: none; margin-left: 0; width: auto;}
.input_wrapar_search select.padd_for_select{ border: 1px solid #dddddd; color: #000; font-size: 28px; margin: 0 0 10px; padding: 5px; width: 100%; line-height: 30px; border-radius: 0; height: 51px;}
.line-height-70{line-height:70px;}
.table_con { display: block; background: #fff; border-radius: 4px; -webkit-border-radius: 4px; -moz-border-radius: 4px; -o-border-radius: 4px; width: 100%; box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -o-box-sizing: border-box; float: left; margin-bottom: 10px;}
.gray_header { background: #e4e8e9; color: #322c29; font-size: 13px; padding: 5px 10px; font-weight: bold; border-radius: 4px 4px 0 0; -webkit-border-radius: 4px 4px 0 0; -moz-border-radius: 4px 4px 0 0; -o-border-radius: 4px 4px 0 0; width: 100%; box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -o-box-sizing: border-box; float: left;}
.table_row, .table_row_1 { padding: 0 10px; width: 100%; box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -o-box-sizing: border-box; float: left; border:1px solid #e4e8e9;}
.padding_con_5 label, span { font-size: 13px;}
.accor-heading a, .panel-heading a{ padding:10px; font-size: 16px !important; font-weight:bold; display:block;}

/*==========================================================*/
.panel-default > .panel-heading { background-color: #e11a22; border-color: transparent; color: #fff; width: 100%;}
.panel-heading { padding: 0;}
.panel-default > .panel-heading.closed{background-color: #b3b3b3;}
.nav-tabs > li { margin-left: 0px; background: #b3b3b3;}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {  background-color: #e11a22; border-color: transparent; border-image: none; border-style: solid; border-width: 1px; color: #fff; cursor: default;}
.nav-tabs { border-bottom: 0px solid #ddd;}
.nav-tabs > li:first-child { border-bottom-left-radius: 4px; border-top-left-radius: 4px;}
.nav-tabs >li:first-child > a { border-bottom-left-radius: 4px !important; border-top-left-radius: 4px !important; border-bottom-right-radius: 0 !important; border-top-right-radius: 0px !important; color: #fff !important;}
.right-round { border-bottom-right-radius: 4px !important; border-top-right-radius: 4px !important;}
.nav-tabs>li>a:hover { border-color: #eee #eee #ddd; border:0;}
.search-summary { float: right !important; padding: 0 10px; border: 1px solid #f0e5d1; background: #fff8e7 !important; -webkit-border-radius: 0px !important; -moz-border-radius: 0px !important; border-radius: 0px !important;}
.selected-city { font-size: 12px; line-height: 28px; vertical-align: middle; width: 44%; text-align: right;}
.bold_1 { font-weight: bold;}
.padding_con_5 label, span { font-size: 13px;}
.selected-date { font-size: 10px;}
.rounded-bdr { border: 1px solid #f0e5d1; background: #fff8e7; padding: 4px 15px; font-size: 12px; line-height: 20px;}
#result-views .nav-tabs>li>a {	padding:5px 10px;	color:#fff;}
#result-views .nav-tabs {margin-bottom: 10px;}
.modify { font-size: 14px; border-radius: 4px; padding: 3px 10px; margin-left: -0px; font-weight:normal;}
.tab_con .panel-group { margin-bottom: 2px;}
.tab_con .panel-default { border-color: #ddd; border:1px solid #ddd;}
.tab-content > .active { margin: 0px 0 10px 0; min-height: 500px;}
.sorting_con { display: block; background: #ebfcf8; padding: 0px 10px; border: 1px solid #D1E5EC; overflow: hidden; margin-bottom: 10px;}
.sorting_con ul{ list-style:none; padding-left:0;	}
.sort_div_con { display: block; clear: both;}
.navbar-nav .sort { color: #402020; font-size: 12px;}
.sort_div_con .navbar-nav > li > a:hover { background: none; color: #3366cc;}

.accordion-header-1 { cursor:pointer; }

.navbar-nav.sorting li a { font-size: 12px; padding: 0 14px;}
ul.sorting li a { color: #3366cc !important;}
.list_repeat_con { float: left; width: 100%; border-bottom: 1px solid #ccc; margin-bottom: 10px; padding-bottom: 10px; box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;}

.list_thumb_img img { height: 90px !important;}
.list_repeat_con .list_mid { display: block;}
.hotel-name { font-size: 14px; font-weight: bold; color: #3366cc;}
.list_view_txt { display: block; clear: both; font-size: 12px; color: #757575;}
.list_repeat_con .more { color: #757575; font-size: 12px; padding: 0 0 0 10px;}
.list_thumb_img { display: block; width: 100%; height: auto; border: 1px solid #cacaca; background: #fff; padding: 2px; -moz-box-sizing: border-box; box-sizing: border-box; -webkit-box-sizing: border-box; -o-box-sizing: border-box;}
.no-left-padding { padding-left: 0px;}
.no-right-padding { padding-right: 0px;}
.mid_ul { margin: 24px 0 0 -9px; padding: 0; display: block; clear: both; list-style:none;}
.mid_ul li { border-right: 1px solid #36AACA; float: left; padding: 0 3%; line-height: 12px;}
.mid_ul li:first-child { padding-left: 9px;}
.mid_ul li a { color: #3366cc; text-decoration: none; font-size: 12px;}
.mid_ul li a:hover {text-decoration:underline;}
.list_repeat_con .list_right { display: block;}
.amount { clear: both; display: block; font-size: 14px; font-weight: bold; line-height: 26px; text-align: right;}
.select-hotel { margin: 32% 0 0 0; width: 91px; float: right;}
.select-hotel a, .select-hotel-1 a, .select-hotel-2 a { font-size: 12px; padding: 5px 12px; vertical-align: baseline;}
.sub-accor-heading { background: #e11a22; border-radius: 4px; margin: 0 0 2px 0; padding: 5px 10px;}
.sub-accor-heading a { color: #fff !important; padding: 0px 20px; text-decoration: none; width: 96%; display: block; margin: 0 0 0 5px;}
.rating_con_flight { float: left; width: 100%;}
.rating_con_flight label{font-weight:normal;}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover { z-index: 3; color: #fff; cursor: default; background-color: #e11a22; border-color: #e11a22;}
.pagination>li>a:focus, .pagination>li>a:hover, .pagination>li>span:focus, .pagination>li>span:hover { z-index: 2; color: #000000; background-color: #eee; border-color: #ddd;}
.pagination>li>a, .pagination>li>span { color: #000000;}
.tab_table_inner { margin-top: 10px; font-size: 12px; padding: 10px 0 0 0;}
.table { margin-bottom: 0px;}
.btn-book{padding: 2px 4px; width: 70%; float: right; font-size:11px;}
/*   kaleem   */
.panel-default > .panel-heading.current { background: #d8261c none repeat scroll 0 0 !important; border-bottom-left-radius: 0; border-bottom-right-radius: 0;}
.panel-group .current { background: #e11a22 !important;}
.disabled-accordion { background: #ccc !important; color: #efefef !important;}
.panel-default > .panel-heading { background-color: #ced2e0; color: #fff; width: 100%;}
.gray_bg1 { background: #ecf0f1 none repeat scroll 0 0; box-sizing: border-box; display: block; float: left; padding: 5px; width: 100%;} 
.white_bg1 { background: #fff none repeat scroll 0 0; box-sizing: border-box; float: left; margin-bottom: 0; padding: 5px; width: 100%;}
.panel-body { padding: 10px;}
.font-size-16{ font-size:16px; font-weight:bold;} 
.margin-bottom-15{margin-bottom:15px;}
.margin-top-15{margin-top:15px;} 
.superior-mrgn{ margin: 0 0 0 100px;} 
.input_wrapar_search input { border: 1px solid #d7d7d7; border-radius: 4px; color: #999999; font-size: 14px; line-height: 25px; margin: 0 0 10px; padding: 5px 5px 5px 10px; width: 100%;}
.select { margin-bottom: 10px;} 
.select .select-block { display: block; float: none; margin-left: 0; width: auto; }
.select.select-block::after { clear: both;}
.deal-result { border:1px solid #d7d7d7; padding:5px 15px 15px 15px;}
.deal-result p{ font-size:14px; font-weight:bold;}
.deal-result .room-rates{ padding:10px 15px; background:#dfdfdf; font-size:18px; color:#000000; font-weight:bold;}
.deal-result button { background: #ee2d24 none repeat scroll 0 0; border: 0 none; bottom: 20px; color: #fff; font-size: 16px;    margin: 0 auto; padding: 5px 30px;   }
.panel-title { font-size: 16px; font-weight:bold; color:#ffffff; text-decoration:none;}
.panel-title a:hover {  text-decoration:none;}
.fa-2x { font-size: 22px;}
.btn-primary { background-color: #d8261c; border-color: #d8261c; color: #fff;}
.btn-primary:hover { background-color: #d8261c; border-color: #d8261c; color: #fff;}
.room-pax{padding:0 5px 0 15px; width:25%;}
.room-room-type{padding:0 15px 0 15px; width:50%;}
.room-pax select{padding:6px 3px;}
.hotel-confirmation_select { background-color: #fff; background-image: none; display: block; padding:5px; width:90%; border-radius:5px; border:1px solid #ccc;}
.hotel-confirmation_select_box { background-color: #fff; background-image: none; display: block; padding:5px; width:100%; border-radius:5px; border:1px solid #ccc;}
.payment_border{ border:1px solid #dadada;}  
.payment_border_select { background-color: #fff; background-image: none; display: block; padding:8px; width:100%; border-radius:5px; border:1px solid #ccc;}
.margin-top-3{ margin-top:3px;}
.btn-default.focus,.btn-default:focus{color:#ffffff;background-color:#e11a22;border-color:#e11a22;}
.btn-default:hover{color:#ffffff;background-color:#e11a22;border-color:#e11a22;}
.btn-default.active.focus,.btn-default.active:focus,.btn-default.active:hover,.btn-default:active.focus,.btn-default:active:focus,.btn-default:active:hover,.open>.dropdown-toggle.btn-default.focus,.open>.dropdown-toggle.btn-default:focus,.open>.dropdown-toggle.btn-default:hover{color:#ffffff;background-color:#e11a22;border-color:#e11a22;}
 
/* keleem  */
.currency .popover{  max-width: 450px;  width: 450px;  padding: 5px 0px;  border: 1px solid #ccc !important; } 
.currency .popover li{  list-style: none;  margin: 0px 0;  padding: 5px; }
.currency .popover li:hover{  background:#e11a22; }
.currency .popover li:hover a {  color:#fff; }
#currency{  margin:0; padding:0; list-style: none; }
#currency ul{  display:inline;  float:left;  margin:0; }
.selected{  background:#e11a22; }
li.selected a{  color: #fff; }
.flag1 { width: 22px; height: 15px; padding: 2px 0 0 30px; display: inline-block; float: left; margin: 2px 0 0 0;}
.flag {  width: 22px; height: 24px; padding: 0 0 0 30px; display: inline-block; float: left;}
.flag-AED{  background: url(../images/flags.png) no-repeat 0px -180px;}
.flag-ANG{  background: url("../images/flags.png") no-repeat 0px -810px; }
.flag-AUD{  background: url("../images/flags.png") no-repeat -40px -210px; }
.flag-AWG{  background: url("../images/flags.png") no-repeat -40px -510px; }
.flag-BBD{  background: url("../images/flags.png") no-repeat 0px -540px; }
.flag-BBD{  background: url("../images/flags.png") no-repeat 0px -540px; }
.flag-BND{  background: url("../images/flags.png") no-repeat 0px -840px; }
.flag-BSD{  background: url("../images/flags.png") no-repeat -40px -540px; }
.flag-CAD{  background: url("../images/flags.png") no-repeat -40px 0px; }
.flag-CHF{  background: url("../images/flags.png") no-repeat 0px -480px; }
.flag-CNY{  background: url("../images/flags.png") no-repeat -40px -60px; }
.flag-DKK{  background: url("../images/flags.png") no-repeat -40px -600px; }
.flag-DOP{  background: url("../images/flags.png") no-repeat -40px -390px; }
.flag-EUR{  background: url("../images/flags.png") no-repeat -40px -420px; }
.flag-GBP{  background: url("../images/flags.png") no-repeat 0px -60px; }
.flag-HKD{  background: url("../images/flags.png") no-repeat -40px -90px; }
.flag-HTG{  background: url("../images/flags.png") no-repeat 0px -570px; }
.flag-HUF{  background: url("../images/flags.png") no-repeat 0px -660px; }
.flag-IDR{  background: url("../images/flags.png") no-repeat -40px -780px; }
.flag-INR{  background: url("../images/flags.png") no-repeat 0px -30px; }
.flag-JMD{  background: url("../images/flags.png") no-repeat -40px -570px; }
.flag-JPY{  background: url("../images/flags.png") no-repeat -40px -450px; }
.flag-KRW{  background: url("../images/flags.png") no-repeat 0px -780px; }
.flag-KYD{  background: url("../images/flags.png") no-repeat 0px -450px; }
.flag-LKR{  background: url("../images/flags.png") no-repeat -40px -660px; }
.flag-MOP{  background: url("../images/flags.png") no-repeat -40px -720px; }
.flag-MXN{  background: url("../images/flags.png") no-repeat -40px -30px; }
.flag-MYR{  background: url("../images/flags.png") no-repeat 0px -150px; }
.flag-NOK{  background: url("../images/flags.png") no-repeat 0px -630px; }
.flag-NPR{  background: url("../images/flags.png") no-repeat 0px -690px; }
.flag-NZD{  background: url("../images/flags.png") no-repeat -40px -210px; }
.flag-PHP{  background: url("../images/flags.png") no-repeat -40px -150px; }
.flag-SAR{  background: url("../images/flags.png") no-repeat 0px -750px; }
.flag-SEK{  background: url("../images/flags.png") no-repeat -40px -630px; }
.flag-SGD{  background: url("../images/flags.png") no-repeat -40px -120px; }
.flag-THB{  background: url("../images/flags.png") no-repeat -40px -750px; }
.flag-TRY{  background: url("../images/flags.png") no-repeat -40px -120px; }
.flag-TTD{  background: url("../images/flags.png") no-repeat 0px -600px; }
.flag-USD{  background: url("../images/flags.png") no-repeat 0px 0px; }
.flag-XCD{  background: url("../images/flags.png") no-repeat -40px -480px; }
.flag-ZAR{  background: url("../images/flags.png") no-repeat 0px -210px; }


.panel-heading .accordion-toggle h4:after {
    /* symbol for "opening" panels */
    font-family: 'Glyphicons Halflings';  
    content:"\E113";   
    float: right;        
    color: #fff;        
    overflow: no-display;
}
.panel-heading .accordion-toggle.collapsed h4:after {
    /* symbol for "collapsed" panels */
    content:"\E114";
}
a.accordion-toggle{
    text-decoration: none;
}


.panel-group .current {
    background: #e11a22;
    color: #fff !important;
}
.red{color:red;}



























