/*
 * Title:   Custom Style File
 * Author:  Shekhar Bajpayee 
 */
#header .logo {
    margin: 5px 0 0;
}

.call-no {
    line-height: 16px;
    font-size: 1.4em;
}

.call-us {
    font-size: .8em;
    line-height: 13px;
}

.logo {
    width: 250px;
}

.chaser .logo a {
    background-size: auto 44px;
}

section#content {
    min-height: 600px;
    padding: 0; /*position: relative;*/
    overflow: visible;
}

#main {
    padding-top: 40px;
}

#main-1 {
    padding-top: 40px;
}

.page-title, .page-description {
    color: #fff;
}

.page-title { /* font-size: 4.1667em; */
    font-weight: bold;
}

.page-description {
    font-size: 2.5em;
    margin-bottom: 50px;
}

.featured {
    position: absolute;
    right: 50px;
    bottom: 50px;
    z-index: 9;
    margin-bottom: 0;
    text-align: right;
}

    .featured figure a {
        border: 2px solid #fff;
    }

    .featured .details {
        margin-right: 10px;
    }

        .featured .details > * {
            color: #fff;
            line-height: 1.25em;
            margin: 0;
            font-weight: bold;
            text-shadow: 2px -2px rgba(0, 0, 0, 0.2);
        }

/* search box styles*/
.search-box-wrapper.style2 .search-box {
    background: rgba(0, 0, 0, 0.0);
    padding: 0px;
}

ul.search-tabs li {
    padding-right: 1px;
}

.search-box-wrapper.style2 .search-box > ul.search-tabs li.active > a {
    background: #fff;
    color: #01b7f2;
}
/* ul.search-tabs li .tab-back-transparent{ background: #fff; opacity: .5; width: 100%; height: 40px; position: absolute; left: 0; top: 0px; z-index: -1;} */
.search-box-wrapper.style2 .search-box > ul.search-tabs li {
    padding-right: 1px;
    float: left;
    position: relative;
}

    .search-box-wrapper.style2 .search-box > ul.search-tabs li > a {
        margin-bottom: 0px;
        height: 40px;
        padding: 2px 20px;
    }

.search-box-wrapper.style2 .search-tab-content {
    background: #fff;
    padding: 10px 20px;
}
/* .search-back-tranparent{    background: #fff; opacity: .5;    width: 100%;    height: 109px;    position: absolute;    left: 0;    top: 40px} */
#occupancies {
    position: absolute;
    background: #fff;
    z-index: 9999;
    width: 51%;
    left: 32%;
    top: 85%;
}

    #occupancies #room-1, #occupancies #room-2, #occupancies #room-3, #occupancies #room-4, #occupancies #room-5 {
        display: none;
    }

.number-spinner .fa {
    font-size: 10px;
}

.search-details {
    margin-bottom: 10px;
    background: #e6e6e6;
}

.sort-by-section .swap-tiles.top-restult {
    float: left;
}

.search-criteria li {
    margin: 0 15px;
    text-align: right;
    color: #2d3e52;
}

.search-city {
    font-weight: bold;
    font-size: 14px;
}

.total-hotels {
    font-weight: bold;
    font-size: 18px;
}

.swap-block .fa-map-marker {
    font-size: 20px;
}

.modify-panel {
    position: absolute;
    display: none;
    z-index: 999;
    background: #fff;
    top: 0;
    left: 270px;
    width: 900px;
}

.modify-panel-back {
    display: none;
    background: #000;
    opacity: .5;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    z-index: 997;
}

.panel-ti tle .mod-panel {
    z-index: 998;
}

.price {
    color: #7db921;
    font-size: 1.4em;
}

.toggle-container .panel.style1 .panel-title > a.mod-panel:before {
    display: none;
}

.listing-style3.hotel .amenities {
    float: none;
    display: block;
}

    .listing-style3.hotel .amenities a i {
        cursor: pointer;
    }

.listing-style3.hotel .details > * > *:last-child {
    width: 160px;
}

.listing-style3 .box, .listing-style3.box {
    margin-bottom: 20px;
}

.hover-effect {
    cursor: pointer;
}

.ui-datepicker {
    z-index: 999 !important;
}

.listing-style3.hotel .details [class^="fa"].circle {
    margin-right: 5px;
    margin-top: 5px;
}

.listing-style3 [class^="fa"].circle {
    color: #d9d9d9;
    cursor: default;
    font-size: 18px;
    overflow: hidden;
}

[class^="fa"].circle, [class*=" fa"].circle, .glyphicon.circle {
    border: 1px solid;
    width: 1.8em;
    height: 1.8em;
    line-height: 1.7333em;
    -webkit-border-radius: 50% 50% 50% 50%;
    -moz-border-radius: 50% 50% 50% 50%;
    -ms-border-radius: 50% 50% 50% 50%;
    border-radius: 50% 50% 50% 50%;
    display: inline-block;
    text-align: center;
}

[class^="fa"], [class*=" fa"] {
    vertical-align: baseline;
}

.box-title small {
    font-size: 12px;
}

.listing-style3.hotel .details {
    padding: 8px 0 8px 20px;
}

    .listing-style3.hotel .details > * > * {
        padding: 5px 15px 0;
    }

.listing-style3 [class^="fa"].circle:hover {
    background: #01b7f2;
    color: #fff;
}

.icon-check:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 100%;
    background: url(../../Images/TI/icon/icon-check.png) no-repeat center center #9c9c9c;
}

button, input[type="button"].button {
    background: #8c8c8c;
}


/* hotel details page */
.call_us {
    font-size: 14px;
    font-weight: bold;
    display: block;
}

    .call_us .fa-phone-square {
        font-size: 25px;
        margin-right: 6px;
        color: #01b7f2;
    }

.nav-tabs > li > a {
    font-size: 15px;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color: #fff;
    background-color: #01b7f2;
}

.tab-content {
    background: #fff;
    border: 1px solid #ddd;
    border-top: 0px solid #ddd;
    padding: 10px;
    height: 340px;
    overflow-y: auto;
}

#flights-tab .tab-content {
    background: none;
    border: 0px solid #ddd;
    border-top: 0px solid #ddd;
    padding: 0px;
    height: 100%;
    overflow-y: inherit;
}


.mrgn-top10 {
    margin-top: 10px;
}

.btn-primary {
    color: #fff;
    background-color: #8c8c8c;
    border-color: #8c8c8c;
}

    .btn-primary:hover {
        color: #fff;
        background-color: #98ce44;
        border-color: #98ce44;
    }

.gv_navPrev {
    background: url(../../Images/TI/prev.png) right top no-repeat;
}

.gv_panelNavNext {
    background: url(../../Images/TI/panel-next.png) left top no-repeat;
}

#map ul.list-inline {
    background: #f5f5f5;
    border: 1px solid #efefef;
}

#map ul.list_inline_4 {
    margin: 10px 0 0 0;
    text-align: center;
}

    #map ul.list_inline_4 li {
        padding: 10px 15px;
    }

.txt-black {
    color: #000;
}

.hotel-address {
    font-weight: bold;
    display: block;
    font-size: 11px;
}

.popup_tab article {
    margin-bottom: 5px;
}

.margin-top-20 {
    margin-top: 20px;
}

.margin-bot-20 {
    margin-bottom: 20px;
}

/* hotel selection page */
.panel-group .current {
    background: #37a5ff !important;
}

.disabled-accordion {
    background: #ccc !important;
    cursor: default !important;
    color: #efefef !important;
}

.panel-title a:hover {
    color: inherit;
    cursor: auto;
}

.panel-group .current a {
    color: #fff;
}

.disabled-accordion:hover, .disabled-accordion h4.panel-title a {
    background: #ccc;
    cursor: default;
    color: #efefef;
}

.panel-default > .panel-heading {
    color: #333;
    background-color: #fdfdfd;
    border-color: #ddd;
}

.highlight {
    background-color: #eaeaec;
    float: left;
    width: 100%;
}

.active-header, .active-header:hover { /*background: url(../../Images/TI/inactive-header.png) left 50% no-repeat;*/
    padding: 0 0 0 20px;
}

.inactive-header, .inactive-header:hover { /*background: url(../../Images/TI/active-header.png) left 50% no-repeat;*/
    padding: 0 0 0 20px;
}

#accordion-container, #accordion-container1 {
    cursor: pointer;
}

h4.room {
    margin: 10px 0 !important;
}

.border-none {
    border: none !important;
}

.iframe_width {
    width: 100%;
    border: 0 none;
    min-height: 520px;
}
/*   */

/* confirmation page */
.white_bg {
    background: #fff;
}

.border_div {
    border: 1px solid #ddd;
    float: left;
    width: 100%;
}

.padding-15 {
    padding: 10px 15px;
}
/*   */

/*FLight search  */
.drop-alter {
    border: 1px solid #d1d1d1;
    width: 100%;
    color: #d1d1d1;
}

    .drop-alter > a {
        border: 0px solid #d1d1d1;
        background: #fff;
        width: 100%;
        color: #a7a7a7;
        padding: 8px 0px 8px 10px;
        line-height: 32px;
    }

        .drop-alter > a:hover {
            border: 0px solid #d1d1d1;
            background: #fff;
            line-height: 32px;
            width: 100%;
            color: #a7a7a7;
        }

    .drop-alter .caret {
        margin: 0 0 0 24px;
    }

    .drop-alter .open > .dropdown-menu {
        width: 370px;
    }

.pax-count {
    position: absolute;
    margin: 10px 0 0 0;
    background: #fff;
    width: 950px;
    left: -700px;
    border: 1px solid #d1d1d1;
    z-index: 999;
    display: none;
    color: #777777;
}

    .pax-count span.sub {
        color: #b3b3b3;
        display: block;
        line-height: 18px;
        margin: 0 0 10px 0;
    }

    .pax-count-hotel {
    position: absolute;
    margin: 10px 0 0 0;
    background: #fff;
    width: 275px;
    left: 5px;
    border: 1px solid #d1d1d1;
    z-index: 999;
    display: none;
    color: #777777;
}

    .pax-count-hotel span.sub {
        color: #b3b3b3;
        display: block;
        line-height: 18px;
        margin: 0 0 10px 0;
    }


.date-disable {
    background: #fff;
    opacity: .7;
    width: 105%;
    height: 35px;
    display: block;
    position: absolute;
    top: 0px;
    z-index: 99;
}

#flight-times-filter select {
    width: 100%;
}

.alertMsg {
    color: red;
    float: left;
    font-size: 11px;
    margin-bottom: 10px;
}

.listing-style3.flight figure {
    display: table-cell;
    background: #fff;
    vertical-align: middle;
    float: none;
}

    .listing-style3.flight figure span {
        border: 1px solid #f5f5f5;
        vertical-align: top;
    }

.flight .take-off {
    padding-left: 25px;
}

.skin-color {
    float: left;
    line-height: 24px;
    padding-bottom: 5px;
}

.listing-style3.flight .details .details-wrapper > * > * {
    padding: 0px 0px 0 0px;
}

.listing-style3.flight .details .details-wrapper .time > div > div {
    padding-left: 5px;
}

.location {
    width: 100%;
    color: #000;
    font-size: 11px;
}

.cost {
    vertical-align: top;
}

.amenities {
    padding: 10px 0;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.action {
    margin: 0 auto;
    width: 80%;
}

.listing-style3.flight .amenities {
    margin-bottom: 0px;
}

.time {
    border-bottom: 0px solid #f5f5f5;
    padding-bottom: 15px;
}

span > img {
    background: #f5f5f5 !important;
    padding: 0px;
    margin: 5px;
}

/*-------------*/
.listing-style3.flight .details .details-wrapper {
    display: block;
}

    .listing-style3.flight .details .details-wrapper > * > * {
        display: block;
    }

    .listing-style3.flight .details .details-wrapper > * {
        display: block;
    }

.blank {
    line-height: 29px;
}

.border-bot {
    border-bottom: 1px solid #f5f5f5;
}

.flight-list {
    float: left;
    width: 100%;
    padding: 5px 0;
}

.timing {
    margin-top: 10px;
}

.price small {
    font-size: .6em;
}

.flight .take-off .icon {
    -webkit-transform: rotate(-25deg);
    -moz-transform: rotate(-25deg);
    -ms-transform: rotate(-25deg);
    -o-transform: rotate(-25deg);
    transform: rotate(-25deg);
    float: left;
    padding-right: 3px;
}

.flight .landing .icon {
    -webkit-transform: rotate(-25deg);
    -moz-transform: rotate(-25deg);
    -ms-transform: rotate(-25deg);
    -o-transform: rotate(-25deg);
    transform: rotate(-25deg);
    float: left;
    padding-right: 3px;
}

.flight .total-time .icon {
    float: left;
    padding-right: 3px;
}

.listing-style3.flight .stop:hover {
    background: #01b7f2;
    cursor: default;
}

.listing-style3.flight [class^="fa"].circle {
    font-size: 16px;
}

.amenities li {
    display: inline;
}

.amenities .tip-top .circle {
    cursor: pointer;
}

.flight th, .flight td {
    font-weight: normal;
    font-size: 12px;
}

.flight .highlight {
    float: none;
}

.mrgn-bottom10 {
    margin-bottom: 10px;
}

.line {
    text-align: center;
    font-size: 12px;
}

.bdr_verticle {
    border-right: 1px solid #ddd;
}

.line:before {
    display: inline-block;
    margin: 0 20px 3px 0;
    height: 1px;
    content: " ";
    text-shadow: none;
    background-color: #ccc;
    width: 300px;
}

.line:after {
    display: inline-block;
    margin: 0 0 3px 20px;
    height: 1px;
    content: " ";
    text-shadow: none;
    background-color: #ccc;
    width: 300px;
}

.nofilterresult .fa-chain-broken {
    font-size: 100px;
    color: #808080;
}

.ui-datepicker {
    width: 35.2em !important;
}

.ui-datepicker-group {
    float: left !important;
}
/*-------------*/

/* activity styles  */
.drop-alter-activity {
    border: 1px solid #d1d1d1;
    width: 100%;
    color: #d1d1d1;
}

    .drop-alter-activity > a {
        border: 0px solid #d1d1d1;
        background: #fff;
        width: 100%;
        color: #a7a7a7;
        padding: 8px 0px 8px 15px;
        line-height: 32px;
    }

        .drop-alter-activity > a:hover {
            border: 0px solid #d1d1d1;
            background: #fff;
            line-height: 32px;
            width: 100%;
            color: #a7a7a7;
        }

    .drop-alter-activity .caret {
        margin: 0 0 0 24px;
    }

    .drop-alter-activity .open > .dropdown-menu {
        width: 370px;
    }

    .drop-alter-activity .pax-count {
        position: absolute;
        margin: 10px 0 0 0;
        background: #fff;
        width: 300px;
        left: -100px;
        border: 1px solid #d1d1d1;
        z-index: 999;
        display: none;
        color: #777777;
    }

        .drop-alter-activity .pax-count span.sub {
            color: #b3b3b3;
            display: block;
            line-height: 18px;
            margin: 0 0 10px 0;
        }

.listing-style3.activity .details {
    padding: 8px 0 8px 20px;
}

    .listing-style3.activity .details > * {
        display: table-row;
    }

        .listing-style3.activity .details > *:first-child > * {
            border-bottom: 1px solid #f5f5f5;
            padding-top: 0;
            padding-bottom: 10px;
        }

.listing-style3.activity .box-title {
    margin: 0;
    float: left;
}

.listing-style3.activity .details > * > *:last-child {
    width: 160px;
}

.listing-style3.activity .amenities {
    float: none;
    display: block;
}

.listing-style3.activity .details .button {
    margin-top: 4px;
}

.listing-style3.activity figure img {
    width: 100%;
    height: auto;
}

.listing-style3.activity .details {
    display: table;
}

    .listing-style3.activity .details > * > *:first-child {
        padding-bottom: 5px;
        border-right: 1px solid #f5f5f5;
        padding-left: 0;
        padding-right: 15px;
        text-align: left;
    }

    .listing-style3.activity .details > * > * {
        display: table-cell;
        padding: 5px 15px 0;
        text-align: center;
        vertical-align: middle;
    }

.activity .tab-content {
    background: #fff;
    border: 1px solid #ddd;
    border-top: 0px solid #ddd;
    padding: 10px;
    height: 340px;
    overflow-y: auto;
}

    .activity .tab-content .tab-pane span {
        line-height: 32px;
    }
/*-------------*/


/*------ cars -------*/
/* .listing-style3.car .details { padding: 8px 0 8px 20px;} */
/* .listing-style3.car .details > * { display: table-row;}
.listing-style3.car .details > *:first-child > * { border-bottom: 1px solid #f5f5f5; padding-top: 0; padding-bottom: 10px;}
.listing-style3.car .box-title { margin: 0; float: left;}
.listing-style3.car .details > * > *:last-child { width: 160px;}
.listing-style3.car .amenities { float: none; display: block;}
.listing-style3.car .details .button { margin-top: 4px;}
.listing-style3.car figure img { width: 100%; height: auto;}
.listing-style3.car .details { display: table;}
.listing-style3.car .details > * > *:first-child { padding-bottom: 5px; border-right: 1px solid #f5f5f5; padding-left: 0; padding-right: 15px; text-align: left;}
.listing-style3.car .details > * > * { display: table-cell; padding: 5px 15px 0; text-align: center; vertical-align: middle;}
.car .tab-content { background: #fff; border: 1px solid #ddd; border-top: 0px solid #ddd;  padding: 10px; height: 340px; overflow-y: auto;}
.car .tab-content .tab-pane span{line-height: 32px;}
 */


.car .amenities {
    text-align: left;
}

    .car .amenities a.passenger_icon {
        background: url(../../Images/TI/icon/passenger_icon.jpg) no-repeat scroll left top rgba(0, 0, 0, 0);
        float: left;
        font-size: 13px;
        padding-left: 14px;
    }

    .car .amenities a.car_door_icon {
        background: url(../../Images/TI/icon/car_door_icon.jpg) no-repeat scroll left center rgba(0, 0, 0, 0);
        float: left;
        font-size: 13px;
        margin-left: 10px;
        padding-left: 20px;
    }

    .car .amenities a.car_MaxBaggage_icon {
        background: url(../../Images/TI/icon/baggage.png) no-repeat scroll left center rgba(0, 0, 0, 0);
        float: left;
        font-size: 13px;
        margin-left: 10px;
        padding-left: 24px;
    }

    .car .amenities a.ac_icon {
        background: url(../../Images/TI/icon/ac_icon.jpg) no-repeat scroll left center rgba(0, 0, 0, 0);
        float: left;
        font-size: 13px;
        margin-left: 10px;
        padding-left: 18px;
    }

    .car .amenities a.automatic_icon {
        background: url(../../Images/TI/icon/automatic_icon.jpg) no-repeat scroll left center rgba(0, 0, 0, 0);
        float: left;
        font-size: 13px;
        margin-left: 10px;
        padding-left: 16px;
    }

.car [class^="fa"].circle {
    color: #d9d9d9;
    cursor: default;
    font-size: 16px;
    overflow: hidden;
    display: block;
}

.listing-style3.car .details .amenities {
    margin-top: 0px;
}

.car div a {
    cursor: pointer;
}

.car .amenities ul li:hover [class^="fa"]:before {
    -webkit-animation: toTopFromBottom 0.35s forwards;
    -moz-animation: toTopFromBottom 0.35s forwards;
    animation: toTopFromBottom 0.35s forwards;
}

.car [class^="fa"]:before, .car [class*="fa"]:before {
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: .8em;
    font-size: 16px;
}

.details .amenities li {
    float: left;
    padding-right: 10px;
}

    .details .amenities li i {
        display: block;
    }


.fa.fa-clock-o {
    font-size: 30px;
    color: #37a5ff;
}

.highlight_gray .fa.fa-check-circle {
    font-size: 30px;
    color: #37a5ff;
}

.highlight_gray {
    background: #f5f5f5;
    border: 1px solid #ddd;
    padding: 10px;
    float: left;
    width: 100%;
}

.highlight_gray1 {
    border: 1px solid #ddd;
    padding: 10px;
    float: left;
    width: 100%;
}

.mrgn-tp-bt10 {
    margin-bottom: 10px;
    margin-top: 10px;
}

a.arrows.fa-chevron-right {
    float: left;
    font-size: 14px;
    font-weight: normal;
    line-height: 19px;
}

.arrows {
    background: #37a5ff;
    font-size: 13px;
    color: #fff;
    padding: 10px;
}

    .arrows:hover {
        color: #fff;
    }

.inactive-header, .inactive-header:hover {
    background: url("../../Images/TI/active-header.png") left 50% no-repeat;
    padding: 0 0 0 20px;
}

/* filter checkbox  */
ul.check-square li {
    position: relative;
}

.filters-container ul.filters-option li:after {
    display: none;
}

ul.check-square li .customCheck {
    float: left;
    margin-right: 10px;
    vertical-align: middle;
    margin-top: 13px;
}

ul.check-square li .textPrice {
    width: 80px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

ul.check-square li .minPrice {
    position: absolute;
    right: 7px;
}

.filters-container ul.filters-option li a.only {
    position: absolute;
    float: right;
    top: 0;
    right: 0;
    display: none;
    z-index: 999;
    left: 40px;
    display: none;
    z-index: 999;
    width: 83%;
    text-align: center;
}

.filters-container ul.filters-option li:hover a.only {
    display: block;
}

a.button.btn-mini.more {
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 10px;
    float: right;
    clear: right;
}

.filters-container ul.filters-option {
    clear: both;
}


/*  footer styles */
#footer .footer-wrapper {
    padding: 40px 0;
}

#footer .bottom .logo {
    margin: 4px 0 0;
    line-height: 34px;
}

.partners {
    border-top: 1px solid #eaeaea;
    padding: 20px 0;
}

.footer-partner-logo {
    display: inline-block;
    vertical-align: middle;
    margin: 0 1.65%;
    height: 50px;
    background: url("../../Images/TI/bottom-sprite.png") 0 0 no-repeat;
}

.footer-info-partner {
    height: 54px;
    text-align: center;
}

    .footer-info-partner > li:first-child {
        margin-left: 0;
    }

.footer-partner-logo.norton {
    width: 86px;
    background-position: 0px 0px;
}

.footer-partner-logo.master {
    width: 50px;
    background-position: -95px 5px;
}

.footer-partner-logo.visa {
    width: 50px;
    background-position: -155px 5px;
}

.footer-partner-logo.discover {
    width: 50px;
    background-position: -216px 5px;
}

.footer-partner-logo.american {
    width: 50px;
    background-position: -272px 5px;
}

.footer-partner-logo.diners {
    width: 50px;
    background-position: -330px 5px;
}

.footer-partner-logo.paypal {
    width: 84px;
    background-position: -390px 8px;
}


/* LOADER CSS start here */
.pageloader {
    position: relative;
    /*top: 0;
                left: 0;*/
    width: 100%;
    height: 100%;
    z-index: 1000000;
    /*overflow: hidden;*/
}

.loader,
.loader:before,
.loader:after {
    border: 3px solid transparent;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
}

.loader {
    display: block;
    position: relative;
    left: 50% !important;
    top: 0%;
    width: 60px;
    height: 60px;
    margin: 0px 0 0 -30px;
    border-top-color: #37a5ff;
    z-index: 11;
    -webkit-animation: spin 1.7s linear infinite;
    -moz-animation: spin 1.7s linear infinite;
    -ms-animation: spin 1.7s linear infinite;
    -o-animation: spin 1.7s linear infinite;
    animation: spin 1.7s linear infinite;
}

    .loader:before {
        content: "";
        position: absolute;
        top: 5px;
        left: 5px;
        right: 5px;
        bottom: 5px;
        border-top-color: #ff9505;
        -webkit-animation: spin-reverse .6s linear infinite;
        -moz-animation: spin-reverse .6s linear infinite;
        -ms-animation: spin-reverse .6s linear infinite;
        -o-animation: spin-reverse .6s linear infinite;
        animation: spin-reverse .6s linear infinite;
    }

    .loader:after {
        content: "";
        position: absolute;
        top: 10px;
        left: 10px;
        right: 10px;
        bottom: 10px;
        border-top-color: #428bca;
        -webkit-animation: spin 1s linear infinite;
        -moz-animation: spin 1s linear infinite;
        -ms-animation: spin 1s linear infinite;
        -o-animation: spin 1s linear infinite;
        animation: spin 1s linear infinite;
    }

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-webkit-keyframes spin-reverse {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(-360deg);
        -moz-transform: rotate(-360deg);
        -ms-transform: rotate(-360deg);
        -o-transform: rotate(-360deg);
        transform: rotate(-360deg);
    }
}

@keyframes spin-reverse {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(-360deg);
        -moz-transform: rotate(-360deg);
        -ms-transform: rotate(-360deg);
        -o-transform: rotate(-360deg);
        transform: rotate(-360deg);
    }
}

.pageloader .loader-section {
    position: fixed;
    top: 0;
    width: 51%;
    height: 100%;
    z-index: 10;
}

    .pageloader .loader-section.left {
        left: 0;
    }

    .pageloader .loader-section.right {
        right: 0;
    }

.loaded .pageloader .loader-section.left {
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-transition: all .7s .3s cubic-bezier(.645, .045, .355, 1);
    -moz-transition: all .7s .3s cubic-bezier(.645, .045, .355, 1);
    transition: all .7s .3s cubic-bezier(.645, .045, .355, 1);
}

.loaded .pageloader .loader-section.right {
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
    -webkit-transition: all .7s .3s cubic-bezier(.645, .045, .355, 1);
    -moz-transition: all .7s .3s cubic-bezier(.645, .045, .355, 1);
    transition: all .7s .3s cubic-bezier(.645, .045, .355, 1);
}

.loaded .loader {
    opacity: 0;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    transition: all .3s ease-out;
}

.loaded .pageloader {
    visibility: hidden;
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%);
    -webkit-transition: all .3s 1s ease-out;
    -moz-transition: all .3s 1s ease-out;
    transition: all .3s 1s ease-out;
}
/* LOADER CSS end here */

.wait-div {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 9999;
    background: #fff;
    top: 0;
    left: 0;
    min-height: 600px;
}

button.close1 {
    background: #01b7f2;
    border-radius: 67px;
    margin-right: -35px;
    margin-top: -20px !important;
    color: #ffffff;
    padding: 1px 10px 0px 10px;
    opacity: 1;
}

.ui-datepicker select.ui-datepicker-month, .ui-datepicker select.ui-datepicker-year {
    background: #37a5ff;
}

.post-404page #header {
    padding-top: 50px;
    text-align: center;
}

.post-404page .error-message {
    color: #fdb714;
    font-size: 36px;
    font-weight: 300;
    line-height: 1.25em;
    text-align: center;
    padding-top: 70px;
}

.post-404page .error-message-404 {
    color: #01b7f2;
    font-family: "Roboto";
    font-size: 15em;
    font-weight: 100;
    line-height: 1.5em;
    text-align: center;
}

section#content {
    min-height: 200px;
    overflow: visible;
    padding: 0;
    position: relative;
}

.post-404page #footer .footer-wrapper {
    padding-top: 0px;
    padding-bottom: 50px;
}

.flp label {
    display: block;
    font: inherit;
    position: absolute;
    left: 0;
    top: 0;
    padding: 9px 27px;
    border-color: transparent;
    cursor: text;
    text-transform: none;
}

    .flp label.fixed {
        top: -17px;
        padding: 9px 25px;
    }


/*label styles*/
.ch {
    display: block;
    float: left;
    position: relative; /*for upward animation*/
    background: white;
}

    .ch:first-child {
        padding-left: 2px;
    }

    .ch:last-child {
        padding-right: 2px;
    }

/*active input label*/
.focussed {
    /*when any input is already focussed clicking on it(label) again won't do anything*/
    pointer-events: none;
}

.borderred {
    border: solid 2px red;
}

    .borderred:focus {
        border: solid 2px red !important;
    }

.bordernone {
}

.hreflink {
    padding: 10px 32px;
    height: 34px;
    line-height: 34px;
    font-size: 1em;
    background: #8c8c8c;
    border: none;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
}

    .hreflink:hover {
        background: #7fb231;
        color: #fff;
    }


.loaderlogin {
    border: 3px solid #f3f3f3;
    border-radius: 50%;
    border-top: 3px solid #3498db;
    width: 30px;
    height: 30px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}



.datepickerTI {
    width:100%;    
    position: absolute;
    z-index: 9;
}

.datepickerTI:after {
  display: block;
  font-family: "soap-icons";
  content: "\e86a";
  font-size: 25px;
  color: #fdb714;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 30px;
  height: 100%;
  text-align: center;
  line-height: 34px;
  background: #fdb714;
}

.search-box-wrapper.style2 .search-tab-content input.datetextbox {
    position:absolute;
    z-index:99;
    background:transparent !important;
}

input.datetextbox {
    position:relative;
    z-index:99;
    background:transparent !important;
}
.padding-top-5{
    padding-top:5px;
}
.view-booking {
    height: 19px;padding: 0 20px;font-size: 0.8333em;line-height: 19px;border: none;color: #fff;
}

.isd-mobile-input-section {
    position: relative;
    float: left;
    width: 100%;
    border: 1px solid #cccccc;
}

.country-code-highlighter {
    width: 25%;
    display: block;
    float: left;
    line-height: 34px;
    border-right: 1px solid #ccc;
    cursor: pointer;
    position: relative;
    font-size: 13px;
    padding-left: 5px;
    color: #555;
}

.country-code-highlighter input {
    height: 34px;
    line-height: 1.42857143;
    color: #555;
    border: 0;
    background: none;
    box-shadow: none;
    float: left;
    position: absolute;
    top: 0;
    left: 0px;
    padding: 0;
    padding-left: 13px;
    width: 82%;
}

.country-code-highlighter::after {
    content: " \25BC";
    font-weight: bold;
    position: absolute;
    right: 5%;
    color: #555;
    font-size: 10px;
    cursor: pointer;
}

.country-code-select {
    background: none;
    opacity: 0;
    position: absolute;
}

.mobile-field-input {
    float: left;
    width: 75%;
    border: 0;
    box-shadow: none;
    background: none;
    z-index: 4;
    position: relative;
    height: 34px;
    padding: 6px 12px;
    line-height: 1.42857143;
    color: #555;
}

.text-input-wrapper {
    padding: 10px 0;
    position: relative;
}

.text-input-wrapper a {
  cursor: pointer;
    color: #838383;
    font-weight: bold;
    position: absolute;
    right: 8px;
    top: 8px;
    font-size: 20px;
}

.travelo-box {
    background: #fff;
    padding: 20px;
    margin-bottom: 30px;
}

.travelo-box.contact-box .contact-details .contact-phone {
    color: #01b7f2;
}

.travelo-box.book-with-us-box li>i, .travelo-box.contact-us-box .contact-address li>i {
    position: absolute;
    font-size: 1.5em;
    color: #fdb714;
    left: 0;
    top: 12px;
}

.travelo-box>*:last-child {
    margin-bottom: 0;
}

.travelo-box.book-with-us-box li, .travelo-box.contact-us-box .contact-address li {
    border-bottom: 1px solid #f5f5f5;
    padding: 10px 0 10px 40px;
    position: relative;
}

.travelo-box.book-with-us-box li>i, .travelo-box.contact-us-box .contact-address li>i {
    position: absolute;
    font-size: 1.5em;
    color: #fdb714;
    left: 0;
    top: 12px;
}

.travelo-box.book-with-us-box li .title, .travelo-box.contact-us-box .contact-address li .title {
    color: #2d3e52;
}
.travelo-box .title {
    margin-bottom: 5px;
}

.travelo-box.book-with-us-box li>*:last-child, .travelo-box.contact-us-box .contact-address li>*:last-child {
    margin-bottom: 0;
}

#booking .booking-info .icon {
    font-size:20px;
}
input.search-form {
    background: transparent none repeat scroll 0 0;
    border: 0 none;
    color: #fff;
    padding: 0 0px;
    transition: all 400ms ease 0s;
    width: 0px;
    color:#2d3e52;
    height:32px;
}

    input.search-form:hover {
        width: 100px;
        background:#f5f5f5;
        height:32px;
    }

/******************************
	-	LOADER FORMS	-
********************************/

.tp-loader 	{
	top:50%; left:50%;
	z-index:10000;
	position:absolute;
}

.tp-loader.spinner0 {
	width: 40px;
	height: 40px;
	background-color: #fff;
	background:url(../assets/loader.gif) no-repeat center center;
	box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.15);
	-webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.15);
	margin-top:-20px;
	margin-left:-20px;
	-webkit-animation: tp-rotateplane 1.2s infinite ease-in-out;
	animation: tp-rotateplane 1.2s infinite ease-in-out;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}


.tp-loader.spinner1 {
	width: 40px;
	height: 40px;
	background-color: #fff;
	box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.15);
	-webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.15);
	margin-top:-20px;
	margin-left:-20px;
	-webkit-animation: tp-rotateplane 1.2s infinite ease-in-out;
	animation: tp-rotateplane 1.2s infinite ease-in-out;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}



.tp-loader.spinner5 	{	
	background:url(../assets/loader.gif) no-repeat 10px 10px;
	background-color:#fff;
	margin:-22px -22px;
	width:44px;height:44px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}


@-webkit-keyframes tp-rotateplane {
  0% { -webkit-transform: perspective(120px) }
  50% { -webkit-transform: perspective(120px) rotateY(180deg) }
  100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes tp-rotateplane {
  0% { transform: perspective(120px) rotateX(0deg) rotateY(0deg);} 
  50% { transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);} 
  100% { transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);}
}


.tp-loader.spinner2 {
	width: 40px;
	height: 40px;
	margin-top:-20px;margin-left:-20px;
	background-color: #ff0000;
	box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.15);
	-webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.15);
	border-radius: 100%;
	-webkit-animation: tp-scaleout 1.0s infinite ease-in-out;
	animation: tp-scaleout 1.0s infinite ease-in-out;
}

@-webkit-keyframes tp-scaleout {
  0% { -webkit-transform: scale(0.0) }
  100% {-webkit-transform: scale(1.0); opacity: 0;}
}

@keyframes tp-scaleout {
  0% {transform: scale(0.0);-webkit-transform: scale(0.0);} 
  100% {transform: scale(1.0);-webkit-transform: scale(1.0);opacity: 0;}
}


.tp-loader.spinner3 {
  margin: -9px 0px 0px -35px;
  width: 70px;
  text-align: center;
}

.tp-loader.spinner3 .bounce1,
.tp-loader.spinner3 .bounce2,
.tp-loader.spinner3 .bounce3 {
  width: 18px;
  height: 18px;
  background-color: #fff;
  box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.15);
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.15);
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: tp-bouncedelay 1.4s infinite ease-in-out;
  animation: tp-bouncedelay 1.4s infinite ease-in-out;
  /* Prevent first frame from flickering when animation starts */
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.tp-loader.spinner3 .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.tp-loader.spinner3 .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes tp-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0.0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes tp-bouncedelay {
  0%, 80%, 100% {transform: scale(0.0);} 
  40% {transform: scale(1.0);}
}




.tp-loader.spinner4 {
  margin: -20px 0px 0px -20px;
  width: 40px;
  height: 40px;
  text-align: center;
  -webkit-animation: tp-rotate 2.0s infinite linear;
  /* animation: tp-rotate 2.0s infinite linear; */
}

.tp-loader.spinner4 .dot1,
.tp-loader.spinner4 .dot2 {
  width: 60%;
  height: 60%;
  display: inline-block;
  position: absolute;
  top: 0;
  background-color: #fff;
  border-radius: 100%;
  -webkit-animation: tp-bounce 2.0s infinite ease-in-out;
  animation: tp-bounce 2.0s infinite ease-in-out;
  box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.15);
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.15);
}

.tp-loader.spinner4 .dot2 {
  top: auto;
  bottom: 0px;
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes tp-rotate { 100% { -webkit-transform: rotate(360deg) }}
@keyframes tp-rotate { 100% { transform: rotate(360deg); -webkit-transform: rotate(360deg) }}

@-webkit-keyframes tp-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes tp-bounce {
  0%, 100% {transform: scale(0.0);} 
  50% { transform: scale(1.0);}
}

/*=================*/

 #loadernew .serviceloader {
  height: 10px;
  width: 100%;
  position: relative;
  overflow: hidden;
  background-color: #ddd;
  border-radius:8px;
}
#loadernew .serviceloader:before{
  display: block;
  position: absolute;
  content: "";
  left: -200px;
  width: 200px;
  height: 10px;
  border-radius:8px;
  background-color: #2980b9;
  animation: loading 15s linear infinite;
}

@keyframes loading {
    from {left: -200px; width: 30%;}
    50% {width: 30%;}
    70% {width: 70%;}
    80% { left: 50%;}
    95% {left: 120%;}
    to {left: 100%;}
}

.static-content .white_bg {
    background: #fff;
    padding-bottom: 10px;
}
.static-content .border_div {
    border: 1px solid #ddd;
}
.static-content .overflow_H {
    overflow: hidden;
}
.static-content .highlight {
    background-color: #f7f7f9;
}
.static-content .heading {
    color: #222;
    font-size: 18px;
    font-weight: bold;
}
.static-content .padding_con5 {
    padding: 5px;
}
.static-content .pd-top10 {
    padding-top: 10px;
}
.static-content .padding_con20 {
    padding: 20px;
}
.static-content .text-justify {
    text-align: justify;
}
.static-content p {
    font-size: 12px!important;
    /* line-height: 1.428571429; */
    line-height: 1.72222;
    margin: 0 0 15px;
}

.blink_me {
  animation: blinker 1s linear infinite;
  color:#01b7f2;
}

@keyframes blinker {  
  50% { opacity: 0; }
}