body {
    direction:rtl;
}

.pull-right {
    float: left !important;
}

.navbar-brand {
    float: right;
}
#main-menu ul.menu, .chaser ul.menu {
    float: left;
}
.search-box-wrapper.style2 .search-box > ul.search-tabs li
{
    float: right;
}
.search-box-wrapper.style2 .search-tab-content input.datetextbox {
    position: relative;
    z-index: 99;
    background: transparent !important;
}
.title
{
    text-align:right;
}
input.input-text, textarea, span.custom-select {
    padding-right: 24px;
}

/*=================Bootstrap====================*/
@media (min-width: 992px) {
    .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
        float:right;
    }
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
    float: right;
}
