@media (min-width: 768px) {
    .search-sec .tab-pane#hotels-tab > .row, .search-sec .tab-pane#hotel-tab > .row {
        display: flex;
        align-items: baseline;
    }
}
/*.searchbox-text {
    font-size: 14px;
}*/
.sort-by-section .sort-bar .sort-by-container > span {
    padding: 0px 7px;
}
