#header .topnav {
  color: #000;
}
button.yellow,
input[type="button"].button.yellow,
a.button.yellow {
  background: #243c7b;
}
.btn-default,
.btn-default:focus,
.btn-default.focus {
  background: #243c7b;
  color: #fff;
}
.activeMenu {
  color: #243c7b;
  border-bottom: 0px solid #243c7b;
}
#main-menu ul.menu > li ul,
.chaser ul.menu > li ul {
  background: #243c7b;
}
#main-menu ul.menu > li ul li > a,
.chaser ul.menu > li ul li > a {
  border-top: 1px solid #243c7b;
}
#main-menu ul.menu > li ul li:hover > a,
#main-menu ul.menu > li ul li.active > a,
.chaser ul.menu > li ul li:hover > a,
.chaser ul.menu > li ul li.active > a {
  background: #243c7b;
}
.search-box-wrapper.style2 .search-box > ul.search-tabs li.active > a {
  color: #fff;
}
.search-box-wrapper.style2 .search-box > ul.search-tabs li > a {
  background: #243c7b;
}
.ui-datepicker .ui-datepicker-header {
  background: #000;
}
.ui-datepicker th span {
  color: #fff;
}
.ui-datepicker .ui-datepicker-title {
  color: #fff;
}
.ui-datepicker .ui-datepicker-calendar td.ui-datepicker-current-day a,
.ui-datepicker .ui-datepicker-calendar td a:hover {
  background: #243c7b;
  color: #fff;
}
.ui-datepicker {
  background: #fff;
}
.datepickerTI:after {
  color: #000;
}
button,
input[type="button"].button {
  background: #243c7b;
}
a.button:hover {
  color: #fff;
}
.details .button {
  background: #243c7b;
}
#btnNewsLetter.go {
  background: #243c7b;
}
.contact-details .contact-phone i {
  color: #243c7b;
}
.contact-details .contact-email {
  color: #243c7b;
}
#footer .bottom #back-to-top i {
  background: #000;
  color: #fff;
  border-color: rgba(36, 60, 123, 0.5);
}
#back-to-top [class^="soap-icon"].circle,
#back-to-top [class*=" soap-icon"].circle,
#back-to-top .glyphicon.circle {
  background: rgba(239, 68, 32, 0.5);
  color: #fff;
}
#back-to-top [class^="soap-icon"].circle:hover,
#back-to-top [class*=" soap-icon"].circle:hover,
#back-to-top .glyphicon.circle:hover {
  background: #243c7b;
}
.panel-title-modify {
  background: #243c7b;
  color: #fff;
}
.toggle-container .panel.style1 .panel-title > a.collapsed:before {
  color: #243c7b;
  background: none;
}
rzslider .rz-bar.rz-selection {
  background: #243c7b;
}
.sort-by-section .sort-bar li.active .sort-by-container > span:after {
  background: #243c7b;
}
.sort-by-section .swap-tiles li:hover > a > i,
.sort-by-section .swap-tiles li.active > a > i {
  background: #000;
  color: #fff;
}
.sort-by-section .swap-tiles li:hover > a,
.sort-by-section .swap-tiles li.active > a {
  border: 1px solid #000;
}
.listing-style3 [class^="fa"].circle:hover {
  background: #243c7b;
  color: #fff;
}
.glyphicon-star {
  color: #000;
}
.hotel-color {
  color: #243c7b;
}
.tab-container ul.tabs li.active > a,
.tab-container ul.tabs li:hover > a {
  color: #243c7b;
  background: #fff;
}
.checkbox.checked:before,
.radio.checked:before {
  border-color: #243c7b;
  color: #fff;
  background: #243c7b;
}
.tab-container.style1 ul.tabs li.active > a,
.tab-container.style1 ul.tabs li:hover > a {
  color: #fff;
  background: #243c7b;
}
.tab-container.style1 ul.tabs li.active > a:after,
.tab-container.style1 ul.tabs li:hover > a:after {
  border-top: 5px solid #243c7b;
}
button.sky-blue1,
input[type="button"].button.sky-blue1,
a.button.sky-blue1 {
  background: #243c7b;
}
.pagination > li.active > a,
.pagination > li.active > span {
  background: #243c7b;
  color: #fff;
}
.pagination > li > a:hover,
.pagination > li > a:focus,
.pagination > li > span:hover,
.pagination > li > span:focus {
  color: #fff;
  background: #243c7b;
}
.btn-info {
  color: #fff;
  background-color: #243c7b;
  border-color: #243c7b;
}
.btn-info:active:hover,
.btn-info.active:hover,
.open > .dropdown-toggle.btn-info:hover,
.btn-info:active:focus,
.btn-info.active:focus,
.open > .dropdown-toggle.btn-info:focus,
.btn-info:active.focus,
.btn-info.active.focus,
.open > .dropdown-toggle.btn-info.focus {
  color: #fff;
}
.btn-info:hover {
  color: #fff;
}
ul.triangle li.active,
ul.triangle li.active:before,
ul.triangle.hover li:hover,
ul.triangle.hover li:hover .box-title,
ul.triangle.hover li:hover:before {
  color: #243c7b;
}
.autocomplete-option.selected {
  background-color: #243c7b;
  color: #fff;
}
.action .button {
  background: #243c7b;
}
.flight-book.button {
  background: #243c7b;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  color: #fff;
  background-color: #243c7b;
}
.modal-content {
  border: 2px solid #243c7b;
}
.btn-primary:hover {
  color: #fff;
}
.page-title-container .breadcrumbs li.active {
  color: #243c7b;
}
.booking-information > .booking-confirmation > .icon {
  color: #243c7b;
}
.booking-information > .booking-confirmation .main-message {
  color: #243c7b;
}
dl.term-description dt {
  border-right: 1px solid #f5f5f5;
}
.tab-container.full-width-style ul.tabs li a:hover i,
.tab-container.full-width-style ul.tabs li.active a i {
  color: #243c7b;
  border-color: #243c7b;
}
.blue-color {
  color: #243c7b !important;
}
.tab-container.full-width-style.arrow-left ul.tabs li.active a {
  border-left: 2px solid #243c7b;
}
.green-color {
  color: #243c7b !important;
}
.btn-info:active,
.btn-info.active,
.open > .dropdown-toggle.btn-info {
  color: #fff;
  background-color: #243c7b;
  border-color: #243c7b;
}
.btn-info:focus,
.btn-info.focus {
  color: #fff;
  background-color: #243c7b;
  border-color: #243c7b;
}
.tab-container.full-width-style.arrow-left ul.tabs li.active a:after {
  border-left: 3px solid #243c7b;
}
#slideshow .container {
  background: #243c7b;
}
#header .mobile-menu-toggle {
  /* background: url(../../Images/TCSLITE/icon/mobile-menu.png) no-repeat center
    center #243c7b; */
}
.mobile-filter {
  background: #243c7b;
  color: #fff;
}
.progress-bar {
  background-color: #243c7b;
}
#booking .booking-info div.date > .month {
  background: #243c7b;
}
#booking .booking-info div.date > .date {
  color: #243c7b;
}
.page-title-container.style2 {
  background-image: linear-gradient(
    43deg,
    #243c7b 30%,
    #ef4420 30%,
    #243c7b 100%
  );
}
#custom-scroll::-webkit-scrollbar-thumb {
  background-color: #243c7b;
}
#RoomMain .tab-container ul.tabs li a {
  height: 36px;
  line-height: 36px;
  color: #243c7b;
}
.refrshSlider.btn {
  background: #cdcdcd;
  border: 0px solid #0d162c;
  color: #000;
}
.refrshSlider.btn.active {
  background: #243c7b;
  border: 0px solid #0d162c;
  color: #fff;
}
.refrshSlider.btn.active:hover {
  color: #fff;
}
#flight .nav-tabs {
  border-bottom: 0px solid #ddd;
  border-top: 1px solid #f5f5f5;
  border-left: 1px solid #f5f5f5;
  border-right: 1px solid #f5f5f5;
}
#flight .tab-content {
  border: 0px solid #f5f5f5 !important;
  border-right: 1px solid #f5f5f5 !important;
  border-left: 1px solid #f5f5f5 !important;
  border-bottom: 1px solid #f5f5f5 !important;
}
.nav-tabs > li a {
  background: #f5f5f5;
  color: #9e9e9e;
}
.hotelreview {
  background: #243c7b;
}
.default-button {
  background: #243c7b;
  color: #fff;
}
.sort-by-section .sort-bar li.active .sort-by-container span {
  background: #243c7b;
  color: #fff;
}
.activestar > .glyphicon-star {
  color: #243c7b;
}
.btn-checkbox.btn:active,
.btn-checkbox.btn.active {
  background: #000;
  color: #fff;
}
#header .mobile-menu {
  background: #243c7b;
}
.why-1 {
  background: #243c7b;
}
.btn-primary {
  color: #fff;
  background: #243c7b;
  border-color: #243c7b;
}
.why-2,
.why-3,
.why-4 {
  background: #ef4420;
}
.footer {
  background: #243c7b;
  color: #fff;
}
hotelautocomplete .autocomplete-option.selected {
  background-color: #243c7b;
  color: #fff;
}
.blink_me {
  color: red;
}
.btn-default > .glyphicon-star {
  color: #000;
}
.btn-default:active:hover,
.btn-default.active:hover,
.open > .dropdown-toggle.btn-default:hover,
.btn-default:active:focus,
.btn-default.active:focus,
.open > .dropdown-toggle.btn-default:focus,
.btn-default:active.focus,
.btn-default.active.focus,
.open > .dropdown-toggle.btn-default.focus {
  color: #fff;
  background-color: #243c7b;
}
.ti-signup-box,
.ti-login-box {
  border: 2px solid #243c7b;
}
.loader {
  border-top-color: #243c7b;
}
.loader:before {
  border-top-color: #ef4420;
}
.loader:after {
  border-top-color: #3e64c7;
}
.call-no {
  color: #243c7b;
}
.loaderlogin {
  border-top: 3px solid #243c7b !important;
}
.brand-txt-color-1 {
  color: #243c7b;
}
.takeoff-icon,
.landing-icon,
.new-calendar-icon,
.new-user-icon,
.new-location {
  color: #000;
}
.searchbox-new-wrwpper .nav-tabs > li.active > a,
.searchbox-new-wrwpper .nav-tabs > li.active > a:focus,
.searchbox-new-wrwpper .nav-tabs > li.active > a:hover {
  color: #fff;
  background: #243c7b;
}
.banner-text h1 {
  color: #243c7b;
}
header .navbar-nav > li > a {
  color: #ef4420;
}
.blue-brd {
  border: 1px solid #ef4420;
}
header .navbar-nav.navbar-right > li > a.blue-brd:hover {
  border-color: #243c7b;
}
header .navbar-nav.navbar-right > li > a:hover {
  color: #243c7b;
}
header .navbar-nav > li > a:hover {
  color: #243c7b;
}
.button-checkbox .btn-group a {
  color: #243c7b;
}
.button-checkbox a.btn:before {
  border: 1px solid #243c7b;
}
.button-checkbox label {
  color: #243c7b;
}
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
  border: 1px solid #243c7b;
}
.headings h2 {
  color: #861f0a;
}
.destination-image a {
  color: #fff;
  background: #243c7b;
}
.book-text h4 {
  color: #243c7b;
}
.newsletter-heading h3 {
  color: #243c7b;
}
.newsletter-submit {
  color: #fff;
  background: #243c7b;
}
.top-footer {
  background: #005bac;
  color: #fff;
}
.bottom-footer {
  background: #003b6f;
}
flightautocomplete .autocomplete-option.selected {
  background: #243c7b;
  color: #fff;
}
.autocomplete-option.selected span > span > i {
  color: #fff;
}
.ui-datepicker .ui-datepicker-calendar td.ui-datepicker-today a:before {
  border-right: 5px solid #9e250b;
}
.ui-datepicker th {
  background: #666;
}
.button-checkbox a.btn.active:after {
  background: #243c7b;
}
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  color: #243c7b;
}
.add-remove-city a {
  color: #243c7b;
}
.flight-pax-count .btn-info {
  background: #243c7b;
  border-color: #243c7b;
  color: #fff;
}
.ui-datepicker {
  background: #000;
}
.home-searchbutton button {
  background: #243c7b;
  color: #fff;
}
.pax-count-hotel .btn-info {
  background: #243c7b;
  border-color: #243c7b;
}
.pax-count-hotel .btn-info:hover {
  background: #243c7b;
}
.pax-count-hotel .btn-info:after {
  background: #243c7b;
}
.filter-heading {
  background: #e6e6e6;
}
.panel-title-modify a.mod-panel {
  color: #fff;
}
.panel-title-modify.filter-heading {
  color: #000;
}
.dropdown-menu > li > div.active,
.dropdown-menu-fixed > li > div.active {
  background: #243c7b;
  color: #fff;
}
.dropdown-menu > li > div:hover,
.dropdown-menu-fixed > li > div:hover {
  background: #243c7b;
  color: #fff;
}
.trip-summary h2 {
  color: #000;
  background: #d9d9d9;
}
.coupon-back #dvCouponArea .invalid {
  color: #fff;
  background: #3e64c7;
}
.payment-option .tab-content {
  border: 1px solid #243c7b;
  border-left: 0px solid #243c7b;
}
.payment-option .nav-tabs > li.active > a,
.payment-option .nav-tabs > li.active > a:hover,
.payment-option .nav-tabs > li.active > a:focus {
  border: 1px solid #243c7b;
  border-right: 1px solid #fff;
}
.payment-option .content {
  border-left: 1px solid #243c7b;
}
.map-list li a:hover,
.map-list li.active a {
  background: #000;
  color: #fff;
  border: 1px solid #000;
}
.top_modify_room {
  background: #e6e6e6;
  color: #000;
}
rzslider .rz-bar.rz-selection {
  background: #ccc !important;
}
rzslider .rz-pointer {
  background: #000 !important;
}
rzslider .rz-bar {
  background: #000 !important;
}
#back-to-top {
  background: #000;
}
.btn-checkbox {
  border-color: #000;
  color: transparent;
}
.btn-checkbox.btn.active {
  background: #000;
}
.btn-default:hover {
  color: #fff;
  background-color: #243c7b;
}
.alertMsg {
  color: red;
}
.search-box-wrapper .search-tab-content {
  background: #ef4420;
}
.hotel-nr-main .searchbox-text {
  color: #000;
}
.searchbox-text {
  color: #fff;
}
.menu-container {
  background: #ef4420;
  color: #fff;
}
button,
input[type="button"].button,
.btn-default {
  background: #243c7b;
  color: #fff;
}
.new-cost-wrapper .amenities ul li a:hover,
.amenities ul li a:hover {
  background: #000;
  color: #fff;
  border-color: #000;
}
a.button:hover,
a.button {
  background: #243c7b;
  color: #fff;
}
a:hover,
a:focus {
  color: #000;
}
.border-round a {
  border: 1px solid #000;
}
.border-round a i {
  color: #000;
}
.loader {
  border-top-color: #243c7b;
}
.loader:before {
  border-top-color: #ef4420;
}
.loader:after {
  border-top-color: #0d162c;
}
.btn-primary:active:hover,
.btn-primary.active:hover,
.open > .dropdown-toggle.btn-primary:hover,
.btn-primary:active:focus,
.btn-primary.active:focus,
.open > .dropdown-toggle.btn-primary:focus,
.btn-primary:active.focus,
.btn-primary.active.focus,
.open > .dropdown-toggle.btn-primary.focus {
  color: #fff;
  background: #243c7b;
  border-color: #243c7b;
}
.btn-primary:hover {
  color: #fff;
  background-color: #243c7b;
  border-color: #243c7b;
}
#rating-filter .glyphicon {
  color: #000;
}
#rating-filter .activestar {
  color: #000;
}
#rating-filter .activestar:hover {
  color: #000;
}
#rating-filter .activestar .glyphicon {
  color: #000;
}
.price {
  color: #000;
}
.ul.menu > li > a,
.chaser ul.menu > li > a {
  color: #fff;
}
.social-icons li a {
  color: #000;
  border: 1px solid #000;
}
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  color: #fff;
  background: #243c7b;
  border-color: #243c7b;
}
.hotel-detail-checkin {
  background: #0065b8;
}
.btn-group .btn-default:active,
.btn-group .btn-default.active,
.btn-group .open > .dropdown-toggle.btn-default {
  color: #fff;
  background: #e6e6e6;
  border-color: #ccc;
  color: #000;
}
.btn-group .btn-default,
.btn-group .btn-default {
  background: #fff;
  border-color: #ccc;
  color: #000;
}
.price-box {
  border: 1px solid #d3d3d3;
}
.row_1.flight.tab-flight ul.responsive li.active a {
  background: #802f12;
  border: 0px solid #802f12;
  color: #fff;
}
.dropdown a > i {
  color: #000;
}
.modify-panel > .panel-content span > i {
  color: #000;
}
.datepicker-wrap:before {
  color: #000;
}
.drop-alter:after,
.drop-alter > a > i {
  color: #000;
}
.footer-box .social-icons li a i {
  color: #fff;
}
.footer-box .social-icons li a {
  border: 1px solid #fff;
}
.footer-box .contact-box li .con-icon {
  color: #fff;
}
.signup-email,
.signup-email:hover,
.signup-email:focus {
  color: #243c7b;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  background: #243c7b;
  color: #fff;
} /*# sourceMappingURL=theme.css.map */
